<section class="oe_container oe_dark">
    <div class="oe_row">
        <b>Parrot business booster</b>
        <p>Parrot is an app that brings your business critical information to you, when you want it, how you want it.
            Say goodbye to spending time accessing excel sheets, and hello to our customisable dashboard.
            Parrot's HTML5 video technology connects you to your employees and teams across the country seamlessly.
            Connect instantly with your remote team for a weekly catchup, a potential hire for an interview,
            or to your travelling sales manager for updates and product demos.</p>
        <b>Default feature installed while installing this module :</b>
        <ul>* Last Seen - To show the last seen for users</ul>
        <ul>* HR Expenses - Customized Expense Calculation for Parrot app</ul>
        <div class="oe_span3">
            <div class="oe_centeralign">
                <a href="https://play.google.com/store/apps/details?id=com.parrot.businessbooster&hl=en" target="_blank"
                   title="Parrot business Booster">
                    <img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
                         height="100"/>
                </a>
                <l align="left">
                    <li>Username:demo</li>
                    <li>Password:demo</li>
                    <li>
                        <a href="https://biztest.parrot.solutions/web?db=demo">Click here</a>
                    </li>
                </l>
            </div>
        </div>
    </div>
</section>