/*
 * (C) Copyright 2014-2015 Kurento (http://kurento.org/)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
@CHARSET "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	body
}

video,#console {
	display: block;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#console {
	min-height: 120px;
	max-height: 360px;
}

#videoContainer {
	position: absolute;
	float: left;
}

#videoBig {
	width: 640px;
	height: 480px;
	top: 0;
	left: 0;
	z-index: 1;
}

div#videoSmall {
	width: 240px;
	height: 180px;
	padding: 0px;
	position: absolute;
	top: 15px;
	left: 400px;
	cursor: pointer;
	z-index: 10;
	padding: 0px;
}

div.dragged {
	cursor: all-scroll !important;
	border-color: blue !important;
	z-index: 10 !important;
}
